<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-newtask="{{complete}}">
		{{#if complete}}COMPLETE{{else}}ADD BACK TO LIST!{{/if}}
	</button>

	<button class="delete-task" data-id="{{id}}">DELETE!</button>
</li>