{{!-- spacer --}}

<li>
	{{name}}
	
	<button class="change-status" data-completed="{{completed}}" data-id="{{id}}">
		{{#if completed}}DONE{{else}}ADD{{/if}}
	</button>

	<button class="delete-task" data-id="{{id}}">DELETE</button>
</li>